@import "mixins";

.role {
  ul {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    li {
      width: 200px;
      height: 30px;
      padding: 15px 10px;
      margin: 0 30px;
      border-radius: 100px;
      border: 1px solid #fff;
      text-align: center;
      color: darken(#ccc, 40);
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 30px;
      font-weight: 700;
      transition: all 0.25 ease;
      cursor: pointer;

      &.on {
        color: #111;
        background-color: #fff;
      }
    }
  }
}

.hero {
  .hero-list {
    width: 1600px;
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 20%;
      padding: 10px;
      box-sizing: border-box;
      a {
        display: block;
        background-color: #ccc;
        img {
          width: 100%;
        }
        .info {
          color: #fff;
          margin-top: 20px;
          padding: 5px;
          box-sizing: border-box;
          .name {
            font-size: 45px;
            font-weight: 700;
          }

          .role {
            margin-top: 5px;
            font-size: 30px;
            font-weight: 700;
          }
          .hometown {
            margin-top: 5px;
            font-size: 20px;
            font-weight: 500;
          }
          .desc {
            margin-top: 10px;
            font-size: 18px;
            word-break: keep-all;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
.mouse {
  a {
    width: 60px;
    height: 60px;
    img {
      width: 100%;
    }
  }
}
